.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-wrap: wrap;
}
.width {
  width: 30%;
}
body {
  background-color: brown;
}

h2 {
  font-size: 30px;
  color: beige;
}

p {
  color: chartreuse;
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 15px;
  }
}
